* {
  margin: 0;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 244, 246);
}
.navLinks a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
